---
import { Information } from "../Data/lib.js";
import Shield from "../assets/Shield.astro";
import Map from "../assets/Map.astro";
import Nasa from "../assets/Nasa.astro";
import Weather from "../assets/Weather.astro";
import Alerts from "../assets/Alerts.astro";



// Función para obtener el componente basado en el id
function getComponent(id: number) {
    const components: Record<number, any> = {
        1: Shield,
        2: Map,
        3: Nasa,
        4: Weather,
        5: Alerts
    };
    return components[id] || null; // Retorna null si no se encuentra el id
}
---

<div class="modal">
    {
        Information.map((info) => {
            // Crear un título capitalizado sin modificar el objeto original
            const capitalizedTitle = info.title.charAt(0).toUpperCase() + info.title.slice(1);

            // Obtener el componente basado en el id
            const IconComponent = getComponent(parseInt(info.id));

            return (
                <card>
                    {IconComponent && <IconComponent />} 
                    <h1>{capitalizedTitle}</h1>
                    <p>{info.description}</p>
                    <button id={info.id}>Next</button>
                </card>
            );
        })
    }
</div>


<style>
    .modal {
        display: flex;
        
        border: 1px solid red;
        width: auto;
        height: 100%;
        overflow-x: hidden;
    }
  card {
    border: 1px solid black;
    width: 90%;
  }
</style>