<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<div th:insert="~{/header :: header}"></div>
  <section>
      <table>
        <thead>
        <tr>
          <th th:text="Back"></th>

          <th th:text="#{direcciones.id}"></th>
          <th th:text="#{direcciones.streetAddress}"></th>
          <th th:text="#{direcciones.postalCode}"></th>
          <th th:text="#{direcciones.city}"></th>
          <th th:text="#{direcciones.stateProvince}"></th>
          <th th:text="#{direcciones.countryId}"></th>

        </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <a href="/direcciones">
                  <img class="img-back" src="https://cdn-icons-png.flaticon.com/128/18991/18991486.png" />
                </a>
              </td>
              <td th:text="${direcciondata.id}"></td>
              <td th:text="${direcciondata.direccion}"></td>
              <td th:text="${direcciondata.codigoPostal}"></td>
              <td th:text="${direcciondata.ciudad}"></td>
              <td th:text="${direcciondata.provincia}"></td>
              <td th:text="${direcciondata.paisId}"></td>
            </tr>
        </tbody>
      </table>
      <form th:action="@{/direcciones/modificar}" method="post">
        <h1 class="title-add" th:text="#{direcciones.modificar}"></h1>
        <input th:value="${direcciondata.id}" type="text" id="id" name="id" placeholder="ID de la dirección" />
        <input th:value="${direcciondata.direccion}" type="text" id="direccion" name="STREET_ADDRESS" placeholder="Dirección" />
        <input th:value="${direcciondata.codigoPostal}" type="text" id="codigoPostal" name="codigoPostal" placeholder="Código Postal" />
        <input th:value="${direcciondata.ciudad}" type="text" id="ciudad" name="ciudad" placeholder="Ciudad" />
        <input th:value="${direcciondata.provincia}" type="text" id="provincia" name="provincia" placeholder="Provincia" />
        <input th:value="${direcciondata.paisId}" type="text" id="paisId" name="paisId" placeholder="ID del país" />
        <input type="submit" value="Submit"/>
  </section>
</body>
</html>