<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="witdh: 80%;">
<div th:fragment="header" class="header">
    <ul>
        <li>
            <a href="/departamentos">Departamentos</a>
        </li>
        <li>
            <a href="/direcciones">Direcciones</a>
        </li>

        <li>
            <a href="/regiones">Regiones</a>
        </li>

        <li>
            <a href="/paises">Paises</a>
        </li>

    </ul>
</div>
</body>
</html>