<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" class="header">
    <ul>
        <li>
            <a href="/paises">Inicio</a>
        </li>
        <li>
            <a href="/regiones">Regiones</a>
        </li>

        <li>
            <a href="/paises">Paises</a>
        </li>
        <li>
            <input type="text" placeholder="Search...">
        </li>
    </ul>
</div>
</body>
</html>