<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<div th:insert="~{/header :: header}"></div>
<section>
    <table>
        <thead>
            <tr>
                <th th:text="Back"></th>
                <th th:text="#{paises.id}"></th>
                <th th:text="#{paises.name}"></th>
                <th th:text="#{paises.region}"></th>
                <th th:text="#{paises.delete}"></th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td>
                    <a href="/paises">
                        <img class="img-back" src="https://cdn-icons-png.flaticon.com/128/18991/18991486.png" />
                    </a>
                </td>
                <td th:text="${pais.COUNTRY_ID}"></td>
                <td th:text="${pais.COUNTRY_NAME}"></td>
                <td th:text="${pais.region.REGION_NAME}"></td>
                <form th:action="@{/paises/eliminar}" method="post">
                    <td th:text="#{paises.x}" >
                        <input type="hidden" th:value="${pais.COUNTRY_ID}" name="COUNTRY_ID" />
                        <input type="submit" value="X" />
                    </td>
                </form>
            </tr>



        </tbody>

    </table>

    <form th:action="@{/paises/modificar}" method="post">

        <h1 class="title-add" th:text="#{paises.modificar}"></h1>
        <select id="REGION_ID" name="region">
            <option  th:selected="${pais.region} == ${region}"  th:each="region : ${regionesData}" th:value="${region.REGION_ID}" th:text="${region.REGION_NAME}"></option>
        </select>
        <input th:value="${pais.COUNTRY_NAME}" type="text" id="COUNTRY_NAME" name="COUNTRY_NAME" placeholder="Nombre del país" />

        <input th:value="${pais.COUNTRY_ID}" type="text" id="COUNTRY_ID" name="COUNTRY_ID" placeholder="ID del país" />

        <input type="submit" value="Submit" />

    </form>
</section>

</body>
</html>