<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{region.title}"></title>
</head>
<body>
<div th:insert="~{/header :: header}"></div>
<table>
    <thead>
    <tr>
        <th th:text="#{region.id}"></th>
        <th th:text="#{region.name}"></th>
        <th >Link</th>
    </tr>
    </thead>
    <tbody>



    <tr th:each="region : ${regiones}">
            <td th:text="${region.REGION_ID}"></td>
            <td th:text="${region.REGION_NAME}"></td>
            <td>
                <a th:href="@{'/regiones/'+${region.REGION_ID}}">
                    <span class="text-name" th:text="visit"></span>
                </a>
            </td>
    </tr>

    </tbody>
</table>

<form>

</form>
</body>
</html>